/* CSS by Brendan Miranda, Created 2.7.15 http://brendanmiranda.com */

/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise);
@font-face {
    font-family: Anson;
    src: url(../fonts/Anson-Regular.otf);
}

/* Main Element Styles */
html {
  text-align: center;
  color: #ffd6c0;
}

body {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  width: 70%;
}

br {
  margin: 0;
  line-height: 2em;
}

header {
  margin-top: 10px;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 12px 0;
}

ol {
  list-style: decimal;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

p {
  font-family: 'Open Sans', sans-serif;
  text-indent: 50px;
  margin-bottom: 25px;
}

table {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  width: 100%;
  font-size: 1.3em;
  line-height: 1.4em;
}

th {
    padding: 10px;
    border-bottom: 1px solid #442211;
    color: #442211;
  }

td {
  padding: 10px;
}

body a {
    color: #ffd6c0;
    text-decoration: none;
}

/* Colors for Body Depending on Page */
body#home  {
  background-color: #95a5a6;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body#about  {
  background-color: #95a5a6;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body#blog  {
  background-color: #95a5a6;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body#work  {
  background-color: #95a5a6;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body#contact  {
  background-color: #95a5a6;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body#blogPost  {
  background-color: #95a5a6;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Logo in Header Styles*/
#logo {
  padding: 20px 0 20px 0;
  margin: 0 auto;
  width: 90%;
  text-align: center;
  font-family: Anson;
  padding: 25px 0 0 0;
}

#logo h1 {
  margin: 0;
  margin-bottom: 5px;
}

#logo h3  {
  margin-bottom: 10px;
}

/* Header Navigation Link Styles */
.navLinks {
  padding-top: 35px;
  padding-bottom: 20px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navLinks li {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 25px;
  margin-right: 25px;
  padding: 10px;
  display: inline-block;
  font-family: "Anson";
  font-size: 1.3em;
}

.navText {
  font-size: 0.7em;
  line-height: 1.5;
}

.navIcon {
    border-radius: 2px;
    color: #ffd6c0;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }

  .navIcon a {
    color: #ffd6c0;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }

.navIcon:hover {
  border-radius: 15px;
  color: #442211;
  background-color: #ffd6c0;
  -webkit-transform: scale(1.3) ;
  -moz-transform: scale(1.3) ;
  -o-transform: scale(1.3) ;
  -ms-transform: scale(1.3) ;
  transform: scale(1.3) ;
}

.navIcon:hover a {
  color: #442211;
}

.activeLink a {
  color: #443311;
}

/* Page Content Styles */
section {
  border-top: 1px solid #ffd6c0;
  border-bottom: 1px solid #ffd6c0;
  margin: 0 auto;
  width: 90%;
  padding: 25px 15px 25px 15px;
  -webkit-animation: fadein 1.5s;
}

section h1 {
  font-family: "Anson";
  font-size: 2.2em;
  margin-bottom: 30px;
  letter-spacing: 0.15em;
  line-height: 1.4;
}

section h2 {
  font-family: "Anson";
  font-size: 1.6em;
  margin-bottom: 30px;
  letter-spacing: 0.15em;
  line-height: 1.4;
}

section p {
  letter-spacing: 0.15em;
  font-size: 1.4em;
  text-align: left;
  line-height: 1.7;
}

section a {
  color: #eee;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

section a:hover {
  background-color: #442211;
  border-radius: 7px;
  color: #cc9966 !important;
  -webkit-transform: scale(1.1) ;
  -moz-transform: scale(1.1) ;
  -o-transform: scale(1.1) ;
  -ms-transform: scale(1.1) ;
  transform: scale(1.1) ;
  opacity: 0.7;
  filter: alpha(opacity=70);
}

section .fa {
  color: #442211;
}

#homePhoto {
  width: 150px;
  float: left;
  border-radius: 75px;
  border: 1px #ffd6c0 solid;
  display: inline;
  margin-right: 45px;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

#homePhoto:hover {
  -webkit-transform: rotateY(30deg);
  -moz-transform: rotateY(30deg);
  -o-transform: rotateY(30deg);
  -ms-transform: rotateY(30deg);
  transform: rotateY(30deg);
}

#leftPhoto {
  width: 150px;
  float: left;
  border-radius: 75px;
  border: 1px #ffd6c0 solid;
  display: inline;
  margin-right: 45px;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

#leftPhoto:hover {
  -webkit-transform: rotateY(30deg);
  -moz-transform: rotateY(30deg);
  -o-transform: rotateY(30deg);
  -ms-transform: rotateY(30deg);
  transform: rotateY(30deg);
}

#rightPhoto {
  width: 150px;
  float: right;
  border-radius: 75px;
  border: 1px #ffd6c0 solid;
  display: inline;
  margin-right: 45px;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

#rightPhoto:hover {
  -webkit-transform: rotateY(30deg);
  -moz-transform: rotateY(30deg);
  -o-transform: rotateY(30deg);
  -ms-transform: rotateY(30deg);
  transform: rotateY(30deg);
}

.signature {
  text-align: right;
  padding-bottom: 30px;
  color: #442211;
  font-size: 1.8em;
}

.cursive {
  font-family: 'Waiting for the Sunrise', cursive;
}

/* Footer Styles */
footer {
  clear: both;
  margin-bottom: 10px;
}

#footer-copyright {
  font-family: Anson;
  font-size: 1.3em;
  top: 50%;
  width: 90%;
  margin-top: 20px;
  display: inline-block;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border: 1px solid #ffd6c0;
  border-left: 1px solid #443311;
  border-radius: 15px;
  line-height: 1.7;
  padding-top: 30px;
  padding-bottom: 20px;
}

#footer-copyright:hover {
  color: #442211;
  border: 0;
  background-color: #ffd6c0;
  -webkit-transform: scale(1.04) ;
  -moz-transform: scale(1.04) ;
  -o-transform: scale(1.04) ;
  -ms-transform: scale(1.04) ;
  transform: scale(1.04) ;
  }

#footer-copyright:before {
  content: "\00A9  Brendan Miranda 2015";
}

#footer-copyright:hover:before {
  content: "Back to top of page";
  font-family: Anson;
  font-size: 1em;
}

/* Misc Classes */
.textCenter {
  text-align: center;
}

  /* Border for Blog Table */
.bordered {
  border: 1px solid #442211;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

  /* Bottom Border for <td> entries in blog page Table */
.tdBottomBorder {
    border-bottom: 1px solid #442211;
}

.bottomBorder {
    border-bottom: 1px solid #ffd6c0;
}

/* Key Frame for Section Fade In */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Classes for portfolio.html */
.site {
  margin: 0 auto;
  text-align: center;
  width: 75%;
  color: #442211;
}

.site p {
  padding-top: 10px;
  margin: 0;
  font-size: .8em;
  text-indent: 0;
}

.site ul {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: .8em;
}

#contactForm {
  width: 80%;
  margin: 0 auto;
}

#contactForm iframe {
  width:100%;
  height: 800px;

}